{% extends 'listings/base.html' %}

{% block content %}

    <h1> Liste des annonces</h1>
        <ul>
            {% for ad in ads %}
                <li>
                    <a href="{% url 'ad-detail' ad.id %}">{{ad.title}}</a>
                    - <a href="{% url 'ad-update' ad.id %}">[modifier]</a>
                </li>
                
            {% endfor %}
            <p>
                <a href="{% url 'ad-create' %}"> Créer une nouvelle annonce </a>
            </p>
               
        </ul>

{% endblock %}