{% extends 'listings/base.html' %}

{% block content %}

    <h1>Music Bands</h1>

    <ul>
        {% for band in bands %}
        <li>
            <a href="{% url 'band-detail' band.id %}">{{ band.name}}</a>
            - <a href="{% url 'band-update' band.id %}">[modifier]</a>
            - <a href="{% url 'band-delete' band.id %}">[Supprimer]</a>
        </li>
        {% endfor %}
        
        <p>
            <a href="{% url 'band-create' %}">Créer un nouveau Band</a>
        </p>
    </ul>

{% endblock %}